[2022-10-17 13:01] muhamadazmy commented on #292
Nothing billing is a very big word actually because billing information comes from multiple places:
- Public IP reservation happens completely on the chain, you pay for the IP even if you are not using it
- CU, SU, MU are reported "on deploying" and is remembered by the chain. So this is a constant billing to your VM that is not related to network, instead only takes the size of your VM into accou

[2022-10-17 13:04] Parkers145 commented on #292
I will try to replicate it so you can assess a live specimen, my twins balance didn't change for 24+ hours. I don't know how to turn that into usable information in regards to why though

[2022-10-17 13:10] Parkers145 commented on #298
It's nessecary to make the cockpit image work, that means the entire cockpit project has been pointless from the start if there's no way for that to be compatible. Would of been nice to shut that too have been mentioned somewhere.

[2022-10-17 15:46] delandtj commented on #295
@Parkers145 ,
can you elaborate a bit further on :
  - what you want to obtain
  - what your config is now
 I' sure we can help you out, but now everything gets more and more confusing.
 Either way, you have a usecase, so we want to understand it fully. Might be important.
Keep up the good work, testers and pushers are oh-so welcome

[2022-10-17 16:14] Parkers145 commented on #295
My end goal was to be able to deploy these images more setup with their vm network getting access over the public interface instead of the overlay. but, I also just found out that networkmanager, which these images use and the grid aren't compatible and these images cant survive reboots of the host node so its not relevant now. the issue can be closed.

https://forum.threefold.io/t/cockpit-managed

[2022-10-18 03:11] scottyeager commented on #295
Zos provides DNS configuration to one interface. This is a valid and not unusual configuration for systems with multiple interfaces.

Now if you're going to use a VM to host other VMs, I think it's normal that you would need to be conscious about where the DNS configuration for the sub VMs is being sourced and maybe do some configuration to ensure they can reach DNS.

I'm not convinced there's any

[2022-10-18 08:29] LennertDefauw1 opened #299 "Named gateways on devnet"
When deploying a VM with named gateway such as lennertapp2.gent01.dev.grid.tf works fine, same for deleting all the related contracts.

But even when the named gateway contract is deleted for lennertapp2.gent01.dev.grid.tf, a new VM deployment with named gateway lennertapp2.gent01.dev.grid.tf results in a "Named gateway is already in use"

[2022-10-18 12:13] Parkers145 commented on #295
See here,
https://github.com/threefoldtech/zos/issues/1823

It seems cockpit is going to be dead in the water unless there is an update for a version that doesn’t use NM.

[2022-10-19 09:07] weynandkuijpers opened #305 "Weird numbers in the explorer."
On  a dedicated node I launched 2 VM's and the explorer showed me this:
<img width="1287" alt="image" src="https://user-images.githubusercontent.com/13766992/196646683-1576b6bd-ba0e-4159-b943-3d8ded9973b7.png">
To me, the overview of CRU looks weird.

The physical capacity available in the dedicated server: 8 cores and 16GB of memory.  I provisioned 2VM's as follows:
1:  4 CPU (logical cores) + 8G

[2022-10-19 14:13] sabrinasadik opened #300 "User is getting errors while trying to deploy with terraform"
User deployed yesterday without issues. Today getting:

Error: failed to deploy deployments: error waiting deployment: couldn't get twin public key: error connecting to substrate at 'wss://tfchain.grid.tf/ws': websocket: bad handshake (HTTP status 502 Bad Gateway); failed to revert deployments: failed to delete deployment: failed to cancel contract: failed to submit extrinsic: Priority is too low:

[2022-10-19 17:24] coesensbert commented on #300
could reproduce, happened during mainnet upgrade.

Fixed now, can you ask the user to try again?

[2022-10-19 17:51] scottyeager commented on #298
Reopening this, since I couldn't reproduce simply by switching a deployment to use Network Manager. To clarify, all VMs in question were booted successfully with networkd the first time, then the configuration was migrated to Network Manager. Such VMs survived reboots of the VM and the node in my tests, with fully functional networks.

The issue that remains here is why these VMs ended up in a sta

[2022-10-20 08:42] sabrinasadik commented on #300
User says he found the issue  terraform parameter -parallelism=1, caused the issue, take this out and it works.

I closed tab , deleted temporary web data, closed and opened chrome + reboot. Nothing helped, installed firefox all working but not on chrome anymore, will tomorrow reinstall chrome.

reinstalled Chrome , and Pokal.dot, still the Chrome issue , this are the messages in the dev console :

[2022-10-20 13:32] coesensbert commented on #300
Don't forget to upgrade the terraform client also with:

`terraform init -upgrade`

[2022-10-20 17:24] AbdelrahmanElawady opened #301 "Balance suddenly dropped to zero on devnet"
Added 100 TFTs using [dashboard.dev.grid.tf](url) and had 113 TFTs tried deploying Kubernetes shortly after on [play.dev.grid.tf](url) suddenly balance dropped to 0.005.
twin_id = 192

https://gridproxy.dev.grid.tf/contracts?twin_id=192&&state=Created

[2022-10-20 17:39] AbdelrahmanElawady opened #302 "Got error deploying and still deployed on devnet"
I was trying to deploy Kubernetes on [play.dev.grid.tf](url) got error while deploying:
![image_2022-10-20_18-57-14](https://user-images.githubusercontent.com/60783742/197017748-909fb3c4-1a45-44d6-aaf9-6ea5c504772d.png)
from [gridproxy.dev.grid.tf](url) it still got deployed and I could ssh into the Kubernetes cluster:
![image](https://user-images.githubusercontent.com/60783742/197018178-772c2a3d-

[2022-10-21 09:31] weynandkuijpers opened #304 "Rented node does not allow VM deployments"

[2022-10-21 11:12] DylanVerstraete commented on #301
@AbdelrahmanElawady Did you fund your twin again after this happened? Cause when I query all your information of your twin right now everything seems good. You balance is around 120 TFT and you have 3 active contracts.

[2022-10-21 11:26] AbdelrahmanElawady commented on #301
@DylanVerstraete Yes, I did fund my twin after it dropped to zero and had 200 TFT. Then I created those 3 contracts.

[2022-10-21 11:36] DylanVerstraete commented on #301
@AbdelrahmanElawady I think something like the following happened, your twin had some "outstanding balance" from previous deployments (because most likely your twin was out of balance for a while). This first you funded it, the billing recognised this outstanding balance and withdrew it from your account resulting in having 0 balance again.

Now you refunded your twin again, some outstanding balan

[2022-10-21 11:44] DylanVerstraete commented on #301
I also see that the latest k8s vm deployment is already running for 18 hours without issues, so my above statements justify current behaviour.

[2022-10-21 11:50] DylanVerstraete commented on #301
Some way to verify if what I am saying above is correct is to do the following:

1: Transfer all the remaining balance from your twin to some other account
2: Wait a couple of hours for your workloads to accumulate some oustanding balance
3: Refund your account with an amount (10 or 100 TFT)
4: Check after one hour how much TFT got withdrawn or locked from your account
5: Check if this amount exce

[2022-10-21 11:57] sabrinasadik opened #303 "Playground link in Dashboard not working"
On chrome

about: blank

[2022-10-21 12:11] renauter commented on #303
I had the same experience on Brave (which is Chrome based)
Seems ok on Firefox however

[2022-10-21 12:35] AbdelrahmanElawady commented on #301
@DylanVerstraete  My twin was out of balance for a while and I had some deployments already so that probably was the reason. Now it's working fine.
Thanks :)

[2022-10-23 06:29] weynandkuijpers opened #306 "Potential error in TFT balance amount required in wallet to get discount on dedicated nodes. Balance requirement too low?"

[2022-10-23 06:35] weynandkuijpers opened #307 "Dedicated server list request not consistent in presenting available dedicated nodes"

[2022-10-23 06:38] weynandkuijpers opened #308 "How we implement a higher discount for dedicated nodes in mainnet?"
H0w can we apply a higher discount?

- one percentage affect all dedicated nodes?
- Per Farm?
- Per Server?

[2022-10-24 09:09] xmonader commented on #303
I just checked, it redirected me to the playground, could it be the issue was created during the upgrade of the playground? I'll close please reopen if it's still happening

[2022-10-24 09:09] #303 closed

[2022-10-24 09:14] #301 closed, assigned to nobody

[2022-10-24 09:16] ramezsaeed commented on #300
please Re-open if this still happening.

[2022-10-24 09:16] #300 closed, assigned to nobody

[2022-10-24 09:18] ramezsaeed commented on #305
CPU over provision is supported in ZOS

[2022-10-24 10:33] AhmedHanafy725 commented on #308
https://library.threefold.me/info/manual/#/manual__dashboard_portal_dedicated_nodes?id=billing-amp-pricing

[2022-10-25 09:39] sabrinasadik opened #309 "Node got over 100% uptime"
![photo_2022-10-25 11 38 41](https://user-images.githubusercontent.com/31733464/197739785-378e7437-4c2a-41f5-a168-6cf793d02fef.jpeg)

Node ID 3010
Farm ID 1994

[2022-10-25 11:53] LeeSmet commented on #309
https://github.com/threefoldtech/tfgrid_dashboard/blob/development/src/portal/lib/nodes.ts#L20-L28

Not sure what is going on here, but what a user would expect is the uptime in the current minting period, i.e. current uptime (since period start) / time in period (current time - period start )

[2022-10-25 16:16] AhmedHanafy725 commented on #290
mainnet is upgraded. And the grid client now gets the correct version of the `tfgrid-api-client`

[2022-10-27 06:57] Parkers145 opened #310 "Configuration Assistance,"
I am attempting to port the openwrt image to the grid.

This is the [image](https://firmware-selector.openwrt.org/?version=22.03.2&target=x86%2F64&id=generic)

I am familiar with the flist creation process and understand the basics of making a customized full vm image of ubuntu

There is another project that has enabled cloud-init for openwrt here with the [RC-Cloud](https://github.com/dtroyer/ope

[2022-10-27 12:39] sabrinasadik opened #311 "Twin ID, TFT balance, and bridge QR do not load under Profile Manager"
When activating the profile manager in Testnet and Mainnet - the Twin ID, TFT balance, and bridge QR code does not seem to be generating. Please refer to the image:

![197629827-cad2d2f8-d939-4469-b54f-e113fab7ff71](https://user-images.githubusercontent.com/31733464/198286378-53004588-79f3-4eb4-ad50-1624ec62dbd2.png)

Browser screenshots:

Chrome
![197845961-b2929805-35e4-431d-8ed9-8eeeed3228d9](h

[2022-10-27 12:42] sabrinasadik opened #312 "Mainnet Playground: Mnemonics field is not accepting TF Chain secret (Hex)"
"I already have a deployment on my account. And If I remember correctly, I used the hex TFChain to create that deployment.
I had to reinstall my OS. I'm trying to re-login to the deployment window, and this time it wouldn't accept my Hex TFChain secret" - Crisp user: Roeljamil / roeljamil@gmail.com

![197595479-cc18e9e2-60fc-4184-8073-be6a8787254c](https://user-images.githubusercontent.com/3173346

[2022-10-29 16:15] Parkers145 opened #313 "Unknown error on test net node"
![CD44422E-93EA-4906-B431-3D391E0CB0DB](https://user-images.githubusercontent.com/44621168/198842015-01e3ed34-b9f9-4317-8031-cd6ca59572d7.jpeg)

Node 219 on test net

[2022-10-31 14:59] LeeSmet commented on #309
Receipts are generated as a result of running the minting code, which by definition happens only after the minting, and thus after the period. So you can't get the receipt from the API to calculate the current uptime because there is none. What you need to do is calculate the uptime by getting the current uptime reports (from graphql is easiest).

Here is a rough guide how to do that:

First you w

[2022-11-01 11:47] amiraabouhadid commented on #309
hey, @LeeSmet just a question.  Why do you divide by the STANDARD_PERIOD_DURATION in the offset variable (here)[https://github.com/threefoldtech/minting_v3/blob/master/src/period.rs#L25-L36] and then multiply the offset by it again in the start variable? It just seems useless to be even dividing by the STANDARD_PERIOD_DURATION in the first place when you are going to remove it by multiplying by it

[2022-11-01 12:51] amiraabouhadid commented on #309
hey @LeeSmet where can I find the uptimeEvent on graphql? Graphql doesn't seem to have that filter, please clarify
![Screenshot from 2022-11-01 14-50-51](https://user-images.githubusercontent.com/56790126/199236324-c117d5b1-a601-47ce-b2bf-9a87bd0c5398.png)

[2022-11-01 13:23] LeeSmet commented on #309
uptimeEvents are a type, similar to node, not a filter on node. You can find them at the bottom of the list. There is indeed no use for the receipts API, as that only has receipts from past periods.

[2022-11-03 07:33] weynandkuijpers commented on #308
Okay - thank you.

[2022-11-03 07:33] #308 closed, assigned to nobody

[2022-11-03 07:35] weynandkuijpers commented on #306
Hi - any update on this?

[2022-11-03 07:39] weynandkuijpers commented on #306
Also:
<img width="338" alt="image" src="https://user-images.githubusercontent.com/13766992/199668307-3034c44d-cac2-4a47-a2ee-980d349129a3.png">

The [wiki states 70% discount](https://library.threefold.me/info/manual/#/manual__dashboard_portal_dedicated_nodes?id=billing-amp-pricing) on the retail price is you rent a dedicated node. The percentage is is not displayed in the pop-up

[2022-11-03 07:44] weynandkuijpers commented on #305
yes - 2x, not?  So this is presenting the actual status of usage including overprovisioning.  My argument would be to still go to 100% in total and half the provisioned precentage.

| cores | reserved | current percentage | proposed percentage |
| ------ | ------ | ------| ------|
|      8     |   0         |     0%     |    0%        |
|      8    |      4      |      50%    |       25%     |
|

[2022-11-03 09:39] ramezsaeed commented on #310
@delandtj
can you please advice here..

[2022-11-03 09:43] ramezsaeed commented on #306
for the percentage in the comment, its fixed but not yet deployed on mainnet.
will verify with the docs ..

[2022-11-03 09:50] #295 closed, assigned to nobody

[2022-11-03 11:28] A-Harby commented on #306
Yes, that would be true, just for more clarification based on the [Discount Levels](https://library.threefold.me/info/threefold/#/tfgrid/grid/pricing?id=discount-levels), And using the resource available on node 7 as an example, it should cost $17.86/month for renting the node with no TFT balance.
![image](https://user-images.githubusercontent.com/109473873/199696711-f9b6e74a-5924-4f1c-83cd-8dd781

[2022-11-04 03:20] weynandkuijpers opened #314 "Dashboard shows low number of dedicated servers available."
Based on the description of how dedicated nodes are available:
<img width="994" alt="image" src="https://user-images.githubusercontent.com/13766992/199877416-3b192582-d1e7-448e-a0e0-a2afe4b6e327.png">

We should have way more dedicated nodes available than 50:
<img width="1022" alt="image" src="https://user-images.githubusercontent.com/13766992/199877512-32ae88b7-091b-4f9d-8a88-b53c71be437c.png">

[2022-11-04 10:30] weynandkuijpers opened #315 "Farm / Country selection does not work in the play.grid.tf v1.5.0"
<img width="1077" alt="image" src="https://user-images.githubusercontent.com/13766992/199951540-ca77ec44-12d2-466a-8320-25a38eeacce8.png">

[2022-11-05 08:01] xmonader commented on #315
the fix landed on the trunk, needs a mainnet hotfix.

[2022-11-05 08:04] #37 closed, assigned to delandtj

[2022-11-05 08:05] #114 closed, assigned to sameh-farouk

[2022-11-05 08:05] #126 closed, assigned to delandtj

[2022-11-05 08:06] #208 closed, assigned to nobody

[2022-11-05 08:06] #210 closed, assigned to OmarElawady

[2022-11-05 08:08] xmonader commented on #305
it can be more that 2x actually. Please move the suggested proposal to an issue in zos for discussion, it won't work for 2x nevertheless. A more appropriate solution is having a note that CPU is overprovisioned.

[2022-11-05 08:08] #305 closed, assigned to nobody

[2022-11-05 08:09] #290 closed, assigned to nobody

[2022-11-05 08:12] xmonader commented on #314
@DylanVerstraete @Omarabdul3ziz please take a looks at this one. I don't believe the first flow of farmer marking their nodes as `dedicated` still a thing

[2022-11-06 02:11] Parkers145 opened #316 "bad gateway config undetected on main net"
I was doing some maintenance tonight and restarted a node, on boot i noticed a public name space error leading me to find an error in its configuration. Should i have been notified this gateway config was down since the last update?

[2022-11-06 09:19] AhmedHanafy725 commented on #306
I think the dashboard calculates the discount from the balance as USD not TFT, @Omarabdul3ziz can you check?

[2022-11-07 13:48] mohamedamer453 opened #317 "Unable to reserve node 21 on mainnet"
### Description

While testing on mainnet i encountered an error with node 21 where i was not able to reserve it even though i got a message from the dashboard confirming my reservation, and almost 20 mins before this issue happened i already had this node reserved and had multiple deployments on it.

[Untitled_ Nov 7, 2022 3_30 PM.webm](https://user-images.githubusercontent.com/101194226/20032515

[2022-11-07 15:59] Parkers145 opened #318 "Sending TFT between nets causes loss"
User gerard on the forums has reported an issue with a TFT transfer.

     "Thanx Guys, It would really help to have more documentation on this and an overview of all the different wallets, Farms
       and chains. I am new to Threefold so this could be just me.
       I went to testnet on the portal, I clicked on transfer and then I clicked on deposit to.

        I have send the address in a pm

[2022-11-07 16:16] Parkers145 opened #319 "Main-net 20.04 image "apt upgrade -y" fails"
![image](https://user-images.githubusercontent.com/44621168/200359827-9ed02bed-9b4b-42e3-9a1d-aa7a77059036.png)

was working on a deployment today that uses 20.04, when running apt upgrade -y this error occurred and the VM became unresponsive.

[2022-11-07 16:43] Parkers145 commented on #319
i deleted the VM and redeployed, the issue does reproduce
![image](https://user-images.githubusercontent.com/44621168/200365307-a9e9db8e-13aa-4032-bb13-40b5eefef0a9.png)

i was able to not install this and continue with a fucntional VM but this is definitely something we want to have answers for ready.

[2022-11-08 06:40] Parkers145 opened #320 "Funkwhale doesnt allow gateway selection on testnet"
![image](https://user-images.githubusercontent.com/44621168/200492751-92126b48-8a98-49f6-8887-b39757f3cc8f.png)

the funkwhale applet does not allow selection of a gateway on test net

[2022-11-08 06:40] Parkers145 commented on #320
disregard

[2022-11-08 06:40] #320 closed, assigned to nobody

[2022-11-08 08:25] mohamedamer453 commented on #317
i tested the same scenario today on the same node and it worked, i reserved the node and after reservation i checked the proxy and it had the rent contract id.

![image](https://user-images.githubusercontent.com/101194226/200510552-e8582e95-8bb9-403b-a5f7-999319101946.png)

![image](https://user-images.githubusercontent.com/101194226/200510603-cfe5184a-965f-4146-8fc7-2132c42cae53.png)

and i also

[2022-11-09 01:20] Parkers145 opened #321 "testnet gateways seem to be malfuntiong?"
![image](https://user-images.githubusercontent.com/44621168/200712689-31237c27-ca3a-46f0-854c-ad308aea32e0.png)
i have been getting this error when deploying on multiple nodes to include, 2, 7, 124, but i think the issue is affecting all gateway workloads as ive been attempting troubleshoot funkwhale and peertube not deploying domains properly on testnet node 219.

[2022-11-09 03:43] weynandkuijpers opened #322 "VM (or application) deployment on a dedicated server be reflected in the overview section at the bottom"

[2022-11-09 10:12] ramezsaeed commented on #316
@sabrinasadik
@PeterNashaat
can u please have a look at this

[2022-11-09 10:27] coesensbert commented on #319
Did you use this flist?

https://hub.grid.tf/tf-official-vms/ubuntu-20.04-lts.flist

[2022-11-09 12:45] PeterNashaat commented on #316
@Parkers145  do you have a screenshot of the error message ?

[2022-11-09 13:06] Parkers145 commented on #319
It is happening it with the 20.04 and the 22.04 that are in the default drop down in the playground on testnet on nodes 219, 7, 2 and 124 I’m not actually sure where the links lead but it only happen on the first update if you tell it no

[2022-11-09 13:17] Parkers145 commented on #316
This is the error it had and the actually issue was that the default
gateway address was wrong.

On Wed, Nov 9, 2022 at 6:46 AM PeterNashaat ***@***.***>
wrote:

[2022-11-09 13:18] Parkers145 commented on #316
![1E33388F-323F-4150-B060-C555E6B05843](https://user-images.githubusercontent.com/44621168/200840478-780aa9e7-fb3d-4beb-9bd9-88d36a6f3c5a.jpeg)

[2022-11-09 13:19] Parkers145 commented on #316
![BBB7D92A-AD57-4270-A6FF-0D96EC28AA7D](https://user-images.githubusercontent.com/44621168/200840679-3a835dc4-6be0-47a9-bfac-a3c2df2bbde7.jpeg)

[2022-11-12 11:38] weynandkuijpers opened #323 "https://bootstrap.grid.tf/ call production --> "mainnet" and call testing --> "testnet""
<img width="1363" alt="image" src="https://user-images.githubusercontent.com/13766992/201472128-6debe08f-ac2e-4e16-8f76-3963b25a2d70.png">

Might be clearer for new arrival if we call the boot image download options the network name.

[2022-11-13 10:54] xmonader commented on #323
@maxux i think it's a good suggestion

[2022-11-13 16:18] Parkers145 commented on #294
my test net profile has dissapeared again and RObertL is reporting the same

[2022-11-13 16:19] Parkers145 opened #324 "Play profiles dissappeared on test net for mutiple users"
https://github.com/threefoldtech/test_feedback/issues/294

![image](https://user-images.githubusercontent.com/44621168/201532282-5a472d23-ff30-49ca-9b97-b620df2fdd37.png)

i didnt clear cache, storage or anything.

prior report of similar situation
https://github.com/threefoldtech/test_feedback/issues/294

[2022-11-13 16:52] Parkers145 commented on #324
i am unable to access the entirety of the threefoldcloud vms from my profile on recreation

[2022-11-13 18:06] Parkers145 commented on #324
![image](https://user-images.githubusercontent.com/44621168/201537019-beb71a97-7417-4c75-ab6b-8870d439831c.png)
![image](https://user-images.githubusercontent.com/44621168/201537035-1b26130b-4972-4776-8d86-7a94d535c521.png)

all of the vms are still fully functional, just not in my profile anymore, and my balance doesnt seem to be reducing
![image](https://user-images.githubusercontent.com/4462116

[2022-11-13 18:06] Parkers145 commented on #324
twin id for the deployments is 581

[2022-11-13 18:11] Parkers145 commented on #324
15293 is the contract for the ip serving social
mail is on  185.206.122.163 on node 19 i believe
15314 is the contract for the ip serving music
15319 is the contract for the ip serving videos

[2022-11-13 18:27] despiegk commented on #324
a chat has been started with main engineers for this topic, we will try to find the root cause asap, thank you for detailed report.

whoever wants to join this chat its on https://t.me/+Fdb54XBxAPtmYjc8

[2022-11-13 23:07] Parkers145 commented on #324
![image](https://user-images.githubusercontent.com/44621168/201549357-55299735-2f8f-44e9-acdf-8a97275a2c62.png)
this appears to have affected main net aswell as I no longer have a profile there.

[2022-11-14 10:41] AhmedHanafy725 commented on #324
checked this twin id, it doesn't have any contracts

these contracts are deployed with twin id 667, it's a different account

for the profiles that disappeared, weblets stores a key on the local storage on the browser. weblets doesn't delete this key, but if the user deletes it, the profiles will disappear. So please can you check if the browser got changed or if its config got removed by any chan

[2022-11-14 11:25] s-areal opened #325 "Node lost "reserved" status"
As I was checking the capacity of reserved node, i realized the node does not shows as reserved anymore.
Interesting is that this node 191, is still available for deployments....
Last action that I can remember after seeing this was to delete a Caprover deployment -  don't know if this could be related.

Note that it is also possible to choose over resources from the menu. I'm choosing a 600GB of

[2022-11-14 11:33] s-areal commented on #325
I just reserved the node again FYI

[2022-11-14 13:38] Parkers145 commented on #324
I'm unsure how the twin id for the deployments would be 667, but i used the same mnemonics to recover my profile and got 581.

I had been logged in working on my stuff, went to bed, robertl asking about missing profiles woke me up, I looked and My own were gone to. I guess it's possible somehow these deployments ended up under My other polka extension? I'll try creating a account with those words,

[2022-11-14 14:00] Parkers145 commented on #324
your correct, i have found them, but i have no idea how they ended up here. i certainly didnt intend to tie my mastadon deployments to my tutorials twin. im very confused about how the log in system for the playground works now, does it interact with the polkadot-extension at all? i appears the disappearance was bad bookkeeping on my part,  i still dont understand why myself, teis and robert all l

[2022-11-14 15:22] AhmedHanafy725 commented on #324
the playgrounds are not interacting with the Polkadot extension at all. you enter the mnemonics (you had created with the Polkadot extension and activated with the dashboard) on the profile manager to create profiles and the active one will be used for the deployments.
![image](https://user-images.githubusercontent.com/41957921/201693000-1bef8b91-7fef-46b3-9356-2c0b187602a2.png)

right now, there

[2022-11-14 15:29] Parkers145 commented on #324
as ive said here an in my previous issue, these keys disappear without deleting local storage, I have had to walk multiple users through recreating their profile while they have small heart attacks thinking their work has disappeared. I feel i am likely one of the more versed non team members in the playground, and i struggle to teach people to use this login system.

if my understanding is correc

[2022-11-14 16:04] AhmedHanafy725 commented on #324
I understand. But no one should be worried if he lost the profiles as long as he has the mnemonics, he will be able to restore the profile with it.

that's really weird. I had this key in my local storage for almost a year, and it didn't disappear either once.

that's for the user's security, this seed carries your tokens and it doesn't leave the user's browser, it's just used to sign your request

[2022-11-15 05:00] despiegk commented on #324
see how to resolve https://github.com/threefoldtech/home/issues/1343
current situation is for sure not good enough

[2022-11-15 05:03] despiegk opened #326 "cleanup test feedback"
https://github.com/threefoldtech/test_feedback/issues

do following

- put them all on milestone 3.8, 3.9, 4.0 or later
- if needed create story/feature or bug in other repos
- link the story/feature to right project in github if 3.8 or 3.9

[2022-11-15 11:22] Mahmoud-Emad opened #327 "Docker hub raise an error while trying to deploy a new machine with mastodon."
While I deploy a new machine with mastodon flist, my instance takes a much minute then I logged in to the machine then tracked the machine logs then got it.

[code]

at the same time, this issue happened with @maayarosama and @Omarabdul3ziz

so after some research, I got the reason from StackOverflow

The pull limit is a rolling limit that should reset parts of the quota 6 hours after that part of

[2022-11-15 14:57] xmonader commented on #285
it was a snapshot at that time.

[2022-11-15 14:57] #285 closed, assigned to nobody

[2022-11-15 21:08] Parkers145 opened #328 "node 219 not deploying applets properly"
![image](https://user-images.githubusercontent.com/44621168/202023719-b6350975-1467-46da-9894-5e7f7a00b219.png)

when deploying the applets on 219 i get bad gateway when i attempt to connect, everything else seems to functioning and i have checked and recheked the public config and dns records.

![image](https://user-images.githubusercontent.com/44621168/202024043-093bd611-67f7-4944-a664-08eb97f3d

[2022-11-17 12:05] xmonader commented on #324
closing in favor of https://github.com/threefoldtech/home/issues/1343

[2022-11-17 12:05] #324 closed, assigned to nobody

[2022-11-20 00:44] Parkers145 opened #329 "Workloads not surviving node restarts."
Yesterday it was requested that I restart the dev net farm, when I did so, the vm for the publicuptimetfcloud.us/uptimeCheck did not recover post restart and the website has been down since. I have also documented that this occurs on test net aswell, https://github.com/threefoldtech/zos/issues/1823

[2022-11-20 00:45] Parkers145 commented on #329
User “Teis” on telegram and forums is responsible for the vm that went down at reboot.

8091 is the contract for the public ip related to Teis' workload.

[2022-11-20 14:12] Parkers145 commented on #329
Looks like user flow wolf on telegram lost a deployment that was on Dev net node 30 or 31 aswell.

[2022-11-20 14:30] fl0wm0ti0n opened #330 "Failed to load 1 out of 2 Deployments, after my TFT got empty - refilling brought only one up."
Since yesterday I get the error "Failed to load 1 out of 2 Deployments" in the playground "https://play.dev.grid.tf/#/fullvm"

It seems it was caused due to an empty dev TFT pool in my account. After I refilled it some of my VMs got up and running but one is missing and i get this error.

grid: dev
VM name: dont remember
Node: 30 (or 31)
yggdrasil addres: 301:a9bd:9b77:ce71:5e7a:5024:80c:e542
flis

[2022-11-20 14:36] Parkers145 commented on #329
These are all of the Ip addresses i show contracts assigned to on devnet farm 49, that have IP addresses that are not in a up state at the gateway. all of the deployments related to these contracts public interfaces are in down state.

162.205.240.246 12972
162.205.240.248 13084
162.205.240.249 10815
162.205.240.240 13298
162.205.240.243 13596
162.205.240.235 13844
162.205.240.236 14241
162.205.24

[2022-11-20 15:16] xmonader commented on #328
@coesensbert please review his setup when possible

[2022-11-20 15:17] despiegk opened #331 "devnet network issue"
yesterday I deployed 3 VM's and after e.g. 30 min upto 60 min I lost all network access to it

machines where in ghent datacenter

I lost connection for yggdrasil as well as webgateway as wel ipv4 (which was only configured on one)

it might be issue with network in ghent or so but we need to know

I think having this monitoring will help we are talking about, lets make sure we measure networks an

[2022-11-20 15:17] xmonader commented on #321
I believe the issue is coming from one of the nodes 2,7,124 that didn't reply in realtime during deployment

[2022-11-20 15:20] despiegk commented on #330
devnet is very new right now, not sure we can trust it yet, its a very early build,
best to test more on testnet right now

but thank you so much for reporting, we will check why this happened

[2022-11-20 15:20] xmonader commented on #319
closing in favor of https://github.com/threefoldtech/zos/issues/1821

[2022-11-20 15:20] #319 closed, assigned to nobody

[2022-11-20 15:22] despiegk commented on #329
I had issues on devnet too yesterday, it might be that there are still some serious issues wrong on devnet
I know we are changing a lot in this 3.8 build
it might be a too early build for the average tester

[2022-11-20 15:26] Parkers145 commented on #329
Got home and was able to get hands on 49, i had restarted it remotely, it was booted to a blank black screen, did another reboot, still black screen, I pulled it out, reseated everything and swapped to a new bootstrap usb, and its back up now it looks like most of the contracts are showing up links now aswell. im not sure what happened here i saw it online in the explorer post restart friday night

[2022-11-20 16:06] fl0wm0ti0n commented on #330
i use dev cause its easy to get free tft to test, thats not possible in testnet (i think) is there a way?

[2022-11-21 08:19] DylanVerstraete commented on #325
I don't even know where to start debugging for this issue. Could it be that it's only client side related?
Can you reserve a node and try deploy on it with terraform?

[2022-11-21 08:39] DylanVerstraete commented on #317
I'm not sure how to debug this issue, maybe the dashboard was showing incorrect data?

Please rent another node and I will check on chain to see if it works or not

[2022-11-21 08:50] mohamedamer453 commented on #317
I've rented the same node again on mainnet `node 21` and it's still rented and did not reset like it did last time, and i'm also able to get the rent info from the gridproxy.

![image](https://user-images.githubusercontent.com/101194226/203005984-152903eb-5662-4c3f-bc83-2fd5bfd67c64.png)

@DylanVerstraete the node is still rented if you want to check it from the chain.

[2022-11-21 08:53] DylanVerstraete commented on #317
Looks good yes, can you deploy something on it?

![image](https://user-images.githubusercontent.com/17138347/203006731-1c878a0e-1ffd-4aa9-a4c3-7f5abb2c50c6.png)

[2022-11-21 08:59] mohamedamer453 commented on #317
Successfully deployed a vm on it and it looks fine.

![image](https://user-images.githubusercontent.com/101194226/203008108-27e19839-3305-4ad4-a84c-a937ede9fe97.png)

[2022-11-21 08:59] DylanVerstraete commented on #317
Great, can close this?

[2022-11-21 09:01] mohamedamer453 commented on #317
sure will close it since it was not reproducible

[2022-11-21 09:01] #317 closed, assigned to DylanVerstraete

[2022-11-21 09:02] DylanVerstraete commented on #325
@mohamedamer453 is this a duplicate of: https://github.com/threefoldtech/test_feedback/issues/317 ?

[2022-11-21 09:26] mohamedamer453 commented on #325
I'm not sure if this is the same issue, and also i wasn't able to reproduce it since node `191` is currently not rentable.

the only thing that came to my mind from the description of the issue is that there was an issue with the weblets were the delete all button also deletes rent contracts https://github.com/threefoldtech/grid_weblets/issues/1027 it was fixed and verified on devnet, however it's

[2022-11-21 09:39] mohamedamer453 commented on #331
can we get the contract id or the node id? otherwise it might be hard to debug.

[2022-11-21 09:56] #326 closed, assigned to sabrinasadik

[2022-11-21 10:35] mohamedamer453 commented on #316
@Parkers145 can you please add node id

[2022-11-21 10:38] #292 closed, assigned to nobody

[2022-11-21 11:16] mohamedamer453 commented on #318
The issue was fixed in https://github.com/threefoldtech/tfgrid_dashboard/issues/379 now when the user enters the bridge address it will not be accepted and a validation message will get triggered mentioning that this is a blocked address.

***note: this feature is not available yet on test/mainnet and it will be available with the `3.8` release.

[2022-11-21 11:16] #318 closed, assigned to mohamedamer453

[2022-11-21 11:18] mohamedamer453 commented on #287
A new feature was added in https://github.com/threefoldtech/grid_weblets/issues/1004 where the user is now able to view contract details from the contracts tab in the grid weblets.

***note: this feature is not available yet on test/mainnet and it will be available with the `3.8` release.

[2022-11-21 11:18] #287 closed, assigned to nobody

[2022-11-21 11:30] muhamadazmy commented on #329
Here are my findings:
- We asked for a reboot because there was a problem with devent update (is fixed now) that caused the node to fail to clean up some old helper processes. the only way to fix nodes that are not in our freefarm to reboot so they fix themselves. This won't be the case on testnet or mainnet.
- The devnet update included some fixes to harden capacity calculations. there was a prob

[2022-11-21 11:30] muhamadazmy commented on #329
We will still run some tests to make sure workloads are fully restored after a node reboot

[2022-11-21 13:19] coesensbert opened #367 "Yggdrasil connectivity degradation"
Since this month (Nov) we started to notice some serious Yggdrasil degradation again. Mostly these are connectivity issues, but the latency in general went up by a lot also. We [saw these issues before ](https://github.com/threefoldtech/tf_operations/issues/654)and could temporary resolve them with our peer list but we knew in advance it would return.

Our monitoring is sending pings over yggdrasi

[2022-11-21 13:21] ken-de-moor commented on #367
To add on to this: This also impact the freeflow.life demo environment. We have had several demos go wrong as a result of yggdrasil connection issues.

[2022-11-21 14:21] A-Harby commented on #325
After reserving a node and trying to deploy and delete some contract, all seems to be fine.
But when I used `Delete all` button in the weblets all my contracts deleted included both node contracts as well as rent contracts.
![image](https://user-images.githubusercontent.com/109473873/203077848-d9dbff20-8faa-4601-a5fd-f316f0856305.png)

Before using `Delete all` button.
![image](https://user-images

[2022-11-21 14:21] #325 closed, assigned to DylanVerstraete, A-Harby

[2022-11-21 14:55] Parkers145 commented on #316
This was on 3049

[2022-11-21 15:20] AhmedHanafy725 commented on #331
checked the contracts and they went on the grace period, and the deployments got paused. can you please fund this account with some TFTs, and let's see if they will go back to being reachable?

[2022-11-21 16:45] coesensbert commented on #328
Public config for node 219 is 100% correct.

Could reproduce the issue on the same node, though things worked after around 15min after the deployment.
It just seem to take a while for the vm to start up, and quite some time for mattermost services to start inside the micro vm.
The slowness could be related to old hardware / slow or malfunctioning ssd (just a guess)

https://mm288delme.gemini.tfclo

[2022-11-21 22:22] Parkers145 commented on #328
219 is running 2x 2690v2 and 256 gb of ram and sata ssds, they are all name brand and benchmarked recently, do you think that hardware would cause this?

[2022-11-22 12:33] coesensbert commented on #367
Requested ZOS client upgrade: https://github.com/threefoldtech/zos/issues/1846

[2022-11-22 14:05] coesensbert commented on #328
Not clear why it was so slow on that node but could not reproduce it on our Testnet nodes (which are also old). Same for mainnet, tested 2 mattermost deploys and the workload was immediately available trough the provided url.
We also looked on your ZOS node logs for error's or issues but found none, after a while the vm and mattermost service got loaded. Everything works and was setup correctly, i

[2022-11-23 12:37] AhmedHanafy725 opened #332 "Paused workloads didn't go back running after funding the wallet"
### Environment

network: devnet
contract id: 13842
node id: 13

### Problem

the contract that carries this deployment went into a grace period and the workloads of this deployment got paused. then the wallet was funded with some TFTs and the contract became in the `created` state, but the workloads are still paused after a day of funding the wallet.

[2022-11-25 11:12] shng4you opened #333 "Being billed for contracts that I have canceled multiple days ago."
Since Monday I have been billed more than 20 TFT, but I should only have been billed about 7,5 TFT. I don't know for how long I am overpaying. I just noticed that my account balance is draining very fast. I've had many more deployments (and contracts) in the past. Normally when I deleted a deployment billing was stopped. I did not have to delete the contract seperately. This is not supposed to hap

[2022-11-25 12:35] jakubprogramming commented on #333
![telegram-cloud-photo-size-4-5767069458874088550-y](https://user-images.githubusercontent.com/9266521/203987046-3d3070a7-59b8-4a80-bd32-6d84f8a06af6.jpg)

I realized that my account balance on Testnet was draining very fast, even though I only had a single very cheap VM deployment. As you can see in this screenshot there are zero active kubernetes deployments on my profile.

![telegram-cloud-phot

[2022-11-26 19:25] fl0wm0ti0n opened #334 "Some questions around microVM and community-created-containers"
how do i know if my own flist-container is running? i made a postgres and a dgadmin container from up and running docker containers. env vars already set up. uploaded to flist hub. https://hub.grid.tf/flowmotion.3bot

now i made 2 deployments but i cant connect at all... i can just ping them in ygg and with public ipv4... but ping says nothing...

Do my questions:
can i check if it is running well

[2022-11-27 12:50] fl0wm0ti0n opened #335 "more details for Terraform resources"
The most terraform resources are clear so you don't need to know much to get the reason for it for example disks, vm-hartware etc.

But there are some "resources" and "data sources" which are not clear how they work or how they work together. By some you can recognize for what they are planned to be, but don't know how.

So my feedback and wish is, to have more details and examples for resources w

[2022-11-27 14:50] 0oM4R commented on #334
Hello,
For the first question, To check if the machine is running.
I tried to ping the provided IPs and it works fine
**testpostgres**
![image](https://user-images.githubusercontent.com/62248851/204134442-68d77fb5-c11c-43d9-98a9-bb34f88c21a2.png)
**testpostgres1**
![image](https://user-images.githubusercontent.com/62248851/204134425-d3e404db-d10a-4840-a6a3-73180397ecd5.png)

some other ways to che

[2022-11-27 15:25] fl0wm0ti0n commented on #334
Hello , thanks alot for your infos!

[2022-11-27 18:34] fl0wm0ti0n commented on #334
hello, thanks for your detailed infos!!

About reaching my containers, i know i can ping thema but i don't know if this means something. for example if i ping a vm it doesn't mean the app on the vm is runnung. The same can be for my container. i don't know how the layers on zos are built up, so who is answering on the ping? zos on the node or the container.

I preconfigured these containers with f

[2022-11-27 21:34] fl0wm0ti0n commented on #334
for example https://hub.docker.com/layers/library/postgres/latest/images/sha256-7d17c721d2641793afd73d95400010604fddf61f0d1b462dcc95ebad1e7b6205?context=explore

does the zos containerization execute all this steps? again? i thought no because the image is already created. so i dont think configuring the dockerfile would help?? or did i missunderstood something?

[2022-11-28 09:54] DylanVerstraete commented on #333
@jakubprogramming Hi, can you provide me your twin ID and network please?

[2022-11-28 10:37] jakubprogramming commented on #333
Yes of course

twin ID: 488
Nework: testnet

[2022-11-28 10:52] DylanVerstraete commented on #333
There is still a deployment which is active:

[code]

[2022-11-28 10:56] jakubprogramming commented on #333
Yes I know. That is not the problem. I have explained the problem above. The exisiting deployment is fine.

[2022-11-28 14:18] samtaggart opened #336 "Help with writing a post about how to move an existing Mastodon server to the grid"
Would like to publish something on our blog or forum about how to move an existing Mastodon server to ThreeFold. Will be targeting admins of notable servers with this, so please note we have to consider the possibility of what an admin of a 50k-100k community would need to know, as well as anybody managing a smaller server. Topics would need to include:

- How to move your Mastodon server to Three

[2022-11-29 14:20] khaledyoussef24 commented on #331
### verified on devnet

made a multiple deployment and multiple contracts and went to grace period
after funding the account all the deployment in the next cycle got back up and working

steps made:

1. go to weblets
2. deploy vm
3. transfer your wallet to make contracts go grace
4. fund the profile again
5. wait for an hour
6. make sure that deployments are back online again

![Screenshot from 20

[2022-11-29 14:20] #331 closed, assigned to muhamadazmy, AhmedHanafy725

[2022-11-30 11:21] 0oM4R commented on #334
the webinterface for example should reachable via https://162.205.240.240:82/ but isnt. So i think the container got not well deployed or got not startet with the correct configs.

I can't help that much with this point, but if you ping the VM so the VM is answering not any of the containers, so I suggest ssh to the machine to verify that the containers are running well.

yes It's better to have a

[2022-11-30 14:50] mohamedamer453 opened #337 "Contract Creation date was changed after a node restart"
### Description

After a node restart i realized that the `created` time of my deployments was changed to the time when the node was restarted.

i had both the before and after time stamps stored for multiple deployments and it was changed for all of these deployments after the restart.

The mentioned time stamp was checked from the deployment details in the weblets.

- Before the restart

   befo

[2022-11-30 14:51] mohamedamer453 commented on #329
Verified on devnet.

I deployed multiple different workloads(Full VM, Micro VM, K8s Cluster, Mastodon instance) with unique data on each workload on nodes 33, 34 then the nodes were restarted and the workloads were not affected. I checked the resources and data of each workload and everything was fine.

Full details before and after the restart can be seen in this test run: https://app.testlodge.c

[2022-11-30 14:51] #329 closed, assigned to muhamadazmy